<?xml version="1.0"?>
<robot name="mbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find detection_in_gazebo)/urdf/mbot_base_gazebo.xacro" />
    <!-- <xacro:include filename="$(find detection_in_gazebo)/urdf/sensors/lidar_gazebo.xacro" /> -->
    <xacro:include filename="$(find detection_in_gazebo)/urdf/sensors/camera_gazebo.xacro" />

    <xacro:property name="camera_offset_x" value="0.17" />
    <xacro:property name="camera_offset_y" value="0" />
    <xacro:property name="camera_offset_z" value="0.38" />

    <!-- <xacro:property name="lidar_offset_x" value="0" /> -->
    <!-- <xacro:property name="lidar_offset_y" value="0" /> -->
    <!-- <xacro:property name="lidar_offset_z" value="0.105" /> -->


    <!-- Lidar -->
    <!-- <joint name="lidar_joint" type="fixed"> -->
    <!--     <origin xyz="${lidar_offset_x} ${lidar_offset_y} ${lidar_offset_z}" rpy="0 0 0" /> -->
    <!--     <parent link="base_link"/> -->
    <!--     [> <child link="laser_link"/> <] -->
    <!-- </joint> -->
    <!-- <xacro:rplidar prefix="laser"/> -->


    <!-- Camera -->
    <joint name="camera_joint" type="fixed">
        <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>
    <xacro:usb_camera prefix="camera"/>


    <!-- Base -->
    <xacro:mbot_base_gazebo/>

</robot>



