<?xml version="1.0"?>
<launch>
  <!-- "textfile" for urdf, "command" for xacro -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find a1_description)/xacro/robot.xacro'"/>
  <!-- <param name="robot_description" textfile="$(find a1_description)/urdf/blabla.urdf" /> -->

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_rviz)/rviz/display.rviz" />
</launch>
